<app-header></app-header>

<div class="container">
  <article
    *ngIf="post$ | async as post; else loading"
    class="card"
  >
    <aside class="card__aside">
      <figure class="card__figure">
        <!--      <img src="assets/images/1.png" alt="Dummy Image" class="card__image">-->
      </figure>
    </aside>
    <header class="card__header">
      <h1 class="card__title">{{ post.title }}</h1>
      <strong class="card__subtitle">
        {{ post.author }}
      </strong><br>
      <small>{{ post.date | date:'medium':'':'ru' }}</small>
    </header>
    <div class="card__body">
      <quill-view-html [content]="post.text"></quill-view-html>
      <p class="card__copy">

      </p>
    </div>
    <footer class="card__footer">
      <div class="card__actions">
        <button
          routerLink='/'
          class="btn btn-primary"
        >
          На главную
        </button>
      </div>
    </footer>
  </article>
  <ng-template #loading>
    <p class="text-center">Загрузка поста...</p>
  </ng-template>
</div>
