.card {
  display: flex;
  //flex-direction: column;
  //width: 50%;
  &__open {
    position: absolute;
    bottom: 2%;
    left: 5%;
  }

/*  &__image img{
    object-fit: cover;
    height: 175px;
  }*/

  &__aside {
  }

  &__figure {
  }

  &__header {
  }

  &__title {
  }

  &__subtitle {
    @media (max-width: 425px) {
      display: none;
    }
  }

  &__body {
  }

  &__copy {
    min-height: 80px;
    margin-bottom: 10%;
  }

  &__footer {
    margin-top: 2%;
  }

  &__actions {
  }
}
@media (max-width: 425px) {
  small{
    display: none;
  }
}



