.card {
  display: flex;

  &__open {
    position: absolute;
    bottom: 2%;
    left: 5%;
  }

  &__subtitle {
    @media (max-width: 425px) {
      display: none;
    }
  }

  &__body {
  }

  &__copy {
    min-height: 80px;
    margin-bottom: 10%;
  }

  &__footer {
    margin-top: 2%;
  }

  &__actions {
  }
}

@media (max-width: 425px) {
  small {
    display: none;
  }
}



