<div class="container-fluid">
  <div class="skills skills-stack skills-stack--horizontal">
    <div class="skills-stack__power">
      <h3 class="skills-stack__power-title">Навыки</h3>
      <ul class="skills-stack__power-list">
        <li class="skills-stack__power-list__item">
          <h4>Огород на подоконнике 95%</h4>
          <mat-progress-bar mode="determinate" value="95"></mat-progress-bar>
        </li>
        <li class="skills-stack__power-list__item">
          <h4> Размножение растений 75%</h4>
          <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
        </li>
        <li class="skills-stack__power-list__item">
          <h4> Уход за горшечными 98%</h4>
          <mat-progress-bar mode="determinate" value="98"></mat-progress-bar>
        </li>
      </ul>
    </div>
    <div class="skills-stack__other" style="background: url(assets/images/3.png)no-repeat; background-size: cover">
      <p class="skills-stack__other--text">Данные навыки были приобретены в течение всей жизни ухода за растениями. С удовольствием поделюсь с Вами опытом, наработками как ухаживать за растениями и не залюбить их.</p>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
