<div class="copyright">
  <div class="container-fluid">
    <div class="copyright__block">
      <div class="copyright__left">
        <ul class="copyright-list copyright-list--item">
          <li class="copyright-list__item">
            <span class="copyright-list__link" itemscope="" itemtype="http://schema.org/Blog">2020 - 2022 © Частичное или полное копирование запрещено</span>
          </li>
        </ul>
      </div>
      <!-- /.copyright__left -->
      <div class="copyright__right">
        <ul class="copyright-list copyright-list--social">
          <li class="copyright-list__item">
            <a class="copyright-list__link" href="https://www.instagram.com/marisha_tech/">
              <svg>
                <use xlink:href="assets/images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <!-- /.copyright__right -->
    </div>
    <!-- /.copyright__block -->
  </div>
</div>
<!-- /.copyright -->
