<header class="header header-main">
  <div class="container-fluid">
    <div class="header-top">
      <div class="header-logo">
        <svg>
          <use xlink:href="assets/images/sprite.svg#logo"></use>
        </svg>
      </div>
      <!-- /.header-logo -->
      <div class="header-menu">
        <nav class="main-nav" aria-label="Main">
          <ul class="main-nav__list">
            <li class="main-nav__item">
              <a href="#" class="main-nav__link">Главная</a>
            </li>
            <li class="main-nav__item">
              <a href="#" class="main-nav__link">Комнатные растения</a>
            </li>
            <li class="main-nav__item">
              <a href="#" class="main-nav__link">Огород на подоконнике</a>
            </li>
            <li class="main-nav__item">
              <a href="#" class="main-nav__link">Пересадка</a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- /.header-menu -->
    </div>
  </div>
  <!-- /.container-fluid -->
</header>

  <router-outlet></router-outlet>

<footer class="footer">
  <div class="container-fluid">
    <div class="footer__top">
      <div class="footer__column">
        <h4 class="footer__title">Контакты</h4>
        <ul class="footer-list">
          <li class="footer-list__item">
            <span class="footer-list__link footer-list__link--geo" href="#">
              <svg>
                  <use xlink:href="assets/images/sprite.svg#geo"></use>
              </svg>
              Адрес: г.Новосибирск, ул. фрунзе 246</span>
          </li>
          <li class="footer-list__item">
            <span class="footer-list__link footer-list__link--phone" href="#">
              <svg>
                <use xlink:href="assets/images/sprite.svg#phone"></use>
              </svg>
              Телефон:</span>
          </li>
          <li class="footer-list__item">
            <span class="footer-list__link footer-list__link--email" href="#">
              <svg>
                <use xlink:href="assets/images/sprite.svg#email"></use>
              </svg>
              Email:</span>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <h4 class="footer__title">Темы</h4>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Главная</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Комнатные растения</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Огород на подоконнике</a>
<!--            <ul class="footer-list list&#45;&#45;second">-->
<!--              <li class="footer-list__item list__item&#45;&#45;second">Огурцы</li>-->
<!--              <li class="footer-list__item list__item&#45;&#45;second">Пряные травы и зелень</li>-->
<!--              <li class="footer-list__item list__item&#45;&#45;second">Томат</li>-->
<!--            </ul>-->
          </li>
          <li class="list__item">
            <a class="footer-list__link" href="">Пересадка</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /.footer-top -->
  </div>
</footer>
<!-- /.footer -->

<div class="copyright">
  <div class="container-fluid">
    <div class="copyright__block">
      <div class="copyright__left">
        <ul class="copyright-list copyright-list--item">
          <li class="copyright-list__item">
            <span class="copyright-list__link" itemscope="" itemtype="http://schema.org/Blog">2020 - 2022 © Частичное или полное копирование запрещено</span>
          </li>
          <li class="copyright-list__item">
            <a href="#" class="copyright-list__link">Политика конфиденциальности</a>
          </li>
          <li class="list__item">
            <a href="/sitemap.xml" class="copyright-list__link">Карта сайта</a>
          </li>
        </ul>
      </div>
      <!-- /.copyright__left -->
      <div class="copyright__right">
        <ul class="copyright-list copyright-list--social">
          <li class="copyright-list__item">
            <a class="copyright-list__link" href="#">
              <svg>
                <use xlink:href="assets/images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="copyright-list__item">
            <a class="copyright-list__link" href="">
               <svg>
                <use xlink:href="assets/images/sprite.svg#vk"></use>
              </svg>
            </a>
          </li>
          <li class="list__item">
            <a class="copyright-list__link" href="">
               <svg>
                <use xlink:href="assets/images/sprite.svg#odnoklassniki"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <!-- /.copyright__right -->
    </div>
    <!-- /.copyright__block -->
  </div>
</div>
<!-- /.copyright -->
