/*==============================Section post==============================*/
.section-post {
  margin-top: 50px;
}

/*==============================Tabs==============================*/
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;

  &__section {
    display: flex;
    flex-wrap: wrap;
  }
}

.mat-typography {
  font: 400 16px/20px Roboto, "Helvetica Neue", sans-serif !important;
}

/*==============================Card==============================*/

.card {
  display: flex;
  flex-direction: column;
  width: 23%;
  margin: 1% 0 1% 1%;
  padding: 20px;
  border: 1px solid var(--mercury);
  position: relative;
}

.card:nth-child(3n) {
  margin-right: 0;

}


