<app-header-main></app-header-main>
<section class="section-post">
  <div class="container-fluid">
    <!--  <div class="tabs">-->
    <!--    <div class="tabs__list">-->
    <mat-tab-group dynamicHeight>
      <!--        <div class="tabs__link">-->
      <mat-tab label="Комнатные растения">
        <!--        <div class="tabs__section">-->
        <div
          style="display:flex; flex-wrap: wrap; "
          *ngIf="posts$ | async as posts; else loading"
        >
          <app-post
            style="display:flex;flex-direction: column; width: 23%; margin: 1% 0 1% 1% ; padding: 20px; border: 1px solid var(--mercury);"
            *ngFor="let post of $any(posts)"
            [post]="post"
          ></app-post>
        </div>
        <!--        </div>-->
      </mat-tab>
      <!--        </div>-->
      <div class="tabs__link">
        <mat-tab label="Огород на подоконнике">
          <div class="tabs__section">
            Огород на подоконнике
          </div>
        </mat-tab>
      </div>
      <div class="tabs-link">
        <mat-tab label="Пересадка">
          <div class="tabs__section">
            Пересадка
          </div>
        </mat-tab>
      </div>
    </mat-tab-group>
    <!--    </div>-->
    <!--  </div>-->
  </div>
  <ng-template #loading>
    <p class="text-center">Загрузка постов...</p>
  </ng-template>
</section>
<!-- /.section-post -->

<section class="section-skill">
  <app-skill-section></app-skill-section>
</section>
<!-- /.section-skill -->

