/*==============================Section post==============================*/
.section-post {
  margin-top: 50px;
}

/*==============================Tabs==============================*/
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;

  &__section {
    display: flex;
    flex-wrap: wrap;
  }
}

.mat-typography {
  font: 400 16px/20px Roboto, "Helvetica Neue", sans-serif !important;
}

/*==============================Card==============================*/

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 23%;
  margin: 1% 0 0 1%;
  padding: 20px;
  border: 1px solid var(--mercury);
  position: relative;
  @media (max-width: 1024px) {
    width: 32%;
  }
  @media (max-width: 768px) {
    width: 48%;
  }
  @media (max-width: 425px) {
    width: 100%;
  }
}


.card:nth-child(3n) {
  margin-right: 0;

}


